*{
  box-sizing: border-box;
}


html, body{
    background-image: url("images/4k-wallpaper-clouds-dawn-1261728.jpg");
    height: 100%;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.main-container{
  min-height: 100vh; 
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; 
}

#me{
  padding: 10px;
}

.jumbotron{
  float: left;
  padding: 10px;
  margin: 10px;
}

h2{
  color: azure
}

.navbar .navbar-expand-lg .navbar-light .bg-light{
    background-color: blue
}

p{
    margin-top: 10px;
}


#footer{

  color:#ffffff;
  background-color: #777777;
  height: 50px;
  padding: 8px;
  text-align: center;
  border-top-color: #4aaaa5;
  border-top-style: outset;
  width: 100%;
  bottom: 0;
  position: fixed;
  
}

.box-set{
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

#crystals{
  position: relative;
  text-align: center;
  color:ghostwhite;
  padding:10px;
 
}

#center{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4aaaa5
}
